@import "variables";

.pokedex {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;

  > ul {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 20px;
    margin-left: 40px;
    overflow: scroll;

    > li {
      a {
        display: block;
      }

      &:active {
        background-color: $red;
      }
    }
  }
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 6px solid black;
  border-radius: 20px;
  margin: 0 40px;
  background-color: #999999;
  padding: 20px;
  overflow: scroll;

  > figure {
    border: 4px solid black;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
    max-height: 400px;

    background: linear-gradient(-45deg, $red, $yellow);

    img {
      width: 100%;
      max-height: 380px;
    }
  }

  ul {
    text-align: center;

    li {
      padding: 10px 0;
      color: $red;
    }
  }
}

.pokemon-index-item {
  padding: 5px 10px;
  border-bottom: 1px solid;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }

  img {
    width: 20px;
    margin: 0 15px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    &:active {
      background-color: $red;
    }
  }

  span {
    color: black;
  }
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  overflow: scroll;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  input,
  select,
  button {
    border: 0;
    font-size: 16px;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px solid black;
  }

  button {
    background-color: $red;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    margin: 0;
  }

  select {
    cursor: pointer;
  }
}
